@import '~bootstrap/scss/bootstrap';
// @import "font-awesome-sprockets";
// @import "font-awesome";
@import './scaffold';
@import './search.scss';

html {
  overflow-y: scroll;
}

body {
  margin-bottom: 50px;
  margin-top: 80px;
}
